src/platformer/stages/__pycache__/Stages.cpython-39.pyc
src/platformer/blocks/__pycache__/Player.cpython-39.pyc
src/platformer/blocks/__pycache__/MovingBlock.cpython-39.pyc
src/platformer/blocks/__pycache__/Block.cpython-39.pyc
